body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #6d72c3;
  transition: background-color 0.5s, background-image 0.5s;
  font-size: 50px;
}

p {
  font-size: 30px;
}

.weather-app {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .weather-app {
    margin-top: 20px;
  }

  input,
  button {
    width: 80%;
    margin: 5px 0;
  }
}
